<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="GED.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
 <userSettings>
		<GED.App.Properties.Settings>
   <setting name="SearchProviderURL" serializeAs="String">
    <value>http://dapplesearch.geosoft.com/</value>
   </setting>
   <setting name="UpgradeSettingsRequired" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CustomCachePath" serializeAs="String">
    <value />
   </setting>
   <setting name="KmlFormat" serializeAs="String">
    <value>SingleImage</value>
   </setting>
   <setting name="SearchProviderType" serializeAs="String">
    <value>DappleSearch</value>
   </setting>
  </GED.App.Properties.Settings>
	</userSettings>
</configuration>