<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Module Id="DappleMergeModule" Language="1033" Version="2.0.3">
		<Package Id="187aceeb-99b9-45c3-8889-2e19a8a85740" Manufacturer="Geosoft Inc." InstallerVersion="200" />
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">
				<Component Id="AltovaGen.dll" Guid="4d3155f4-5d8b-4a1f-a2af-205aff8c3e59">
					<RegistryValue Id="removeDapple0" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
				</Component>
				<Component Id="Collab.dll" Guid="baf39509-ea78-4d11-850c-e2a1c775ad9a">
					<RegistryValue Id="removeDapple1" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
				</Component>
				<Component Id="dapxmlclient.dll" Guid="66d3dfcc-cd95-4067-9561-a995f7d7e5dd">
					<RegistryValue Id="removeDapple2" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
				</Component>
				<Component Id="ICSharpCode.SharpZipLib.dll" Guid="b63e153a-92f8-4deb-8478-d9635f7095de">
					<RegistryValue Id="removeDapple3" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
				</Component>
				<Component Id="Interop.GeoSecureClient.dll" Guid="99857d7d-1173-4c25-9450-4ba3007249a0">
					<RegistryValue Id="removeDapple4" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
				</Component>
				<Component Id="JhuaplWorldWind.dll" Guid="9ff344bb-7c4c-417e-ae07-d04d307e301d">
					<RegistryValue Id="removeDapple5" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
				</Component>
				<Component Id="Mapack.dll" Guid="157c47ef-dc00-40c1-be34-768247dd525a">
					<RegistryValue Id="removeDapple6" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
				</Component>
				<Component Id="MessageBoxExLib.dll" Guid="6144bacd-5799-4ea1-8c69-e134a9ef7380">
					<RegistryValue Id="removeDapple7" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
				</Component>
				<Component Id="MontajRemote.dll" Guid="0703b6c2-1104-47ea-90f6-543741cd1f15">
					<RegistryValue Id="removeDapple8" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
				</Component>
				<Component Id="PluginSDK_GD.dll" Guid="6f353db3-91ba-4d8a-b62c-24ce0d356636">
					<RegistryValue Id="removeDapple9" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
				</Component>
				<Component Id="proj.dll" Guid="5d33e13c-14cd-4b35-a25a-bf8cef8d0bf4">
					<RegistryValue Id="removeDapple10" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
				</Component>
				<Component Id="Tao.OpenGl.Glu.dll" Guid="e89d8f61-7406-477b-94ca-c324ec1d8747">
					<RegistryValue Id="removeDapple11" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
				</Component>
				<Component Id="Utilities_GD.dll" Guid="6de2dcc4-7b65-43eb-a291-334cae7ecf2f">
					<RegistryValue Id="removeDapple12" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
				</Component>
				<Component Id="WebDownload_GD.dll" Guid="4d4a2023-00c5-4ea3-8484-039b739b48a8">
					<RegistryValue Id="removeDapple13" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
				</Component>
				<Component Id="WorldWindow.dll" Guid="8b334ca0-4eab-438e-bbf0-6e4adef629be">
					<RegistryValue Id="removeDapple14" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
				</Component>
				<Component Id="WorldWind_GD.dll" Guid="43162d5a-d49d-4379-8db7-3356283ab98b">
					<RegistryValue Id="removeDapple15" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
				</Component>
				<Component Id="Dapple.exe" Guid="E1AD78EE-C801-4355-98CA-3D98E8384D58">
					<RegistryValue Id="removeDapple16" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
				</Component>
				<Component Id="GEDapple.exe" Guid="f4ceb203-a42e-47d4-afc9-f57c0c8301b4">
					<RegistryValue Id="removeDapple17" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
				</Component>
				<Component Id="GEDCore.dll" Guid="ecfa989f-a236-4892-8764-1f3155b4f6ca">
					<RegistryValue Id="removeDapple18" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
				</Component>
				<Component Id="GEDWebService.dll" Guid="664ce796-f5ae-4744-be0b-404906f4729a">
					<RegistryValue Id="removeDapple19" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
				</Component>
				<Component Id="Interop.EARTHLib.dll" Guid="b550e507-7f07-41d1-83f6-f57ebe7a4c56">
					<RegistryValue Id="removeDapple20" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
				</Component>
				<Component Id="OtherRootFiles" Guid="46389ae2-6c69-4090-9189-7b29c676a4f3">
					<RegistryValue Id="removeDapple21" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
				</Component>
				<Directory Id="Config" Name="Config">
					<Component Id="ConfigFiles" Guid="7897c300-fb9c-48d3-8fea-82b7f917effa">
						<RegistryValue Id="removeDapple22" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
					</Component>
				</Directory>
				<Directory Id="System" Name="System">
					<Component Id="System7za.exe" Guid="e5f7ca90-efc5-4c78-b35b-df88fa3e25c9">
						<RegistryValue Id="removeDapple23" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
					</Component>
					<Component Id="geotifcp.exe" Guid="de827a4b-e8d4-49ec-a735-6e6b6e156c89">
						<RegistryValue Id="removeDapple24" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
					</Component>
					<Component Id="listgeo.exe" Guid="b2a24800-7d63-4682-8ae6-3ee3e55d56d5">
						<RegistryValue Id="removeDapple25" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
					</Component>
					<Component Id="mailer.exe" Guid="4eaa6a2c-196a-4525-b49c-95e134ef5fe4">
						<RegistryValue Id="removeDapple26" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
					</Component>
				</Directory>
				<Directory Id="Shaders" Name="Shaders">
					<Component Id="ShadersFiles" Guid="e328938f-bb9f-4d4d-8fcc-52f70569e660">
						<RegistryValue Id="removeDapple27" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
					</Component>
				</Directory>
				<Directory Id="Scripts" Name="Scripts">
					<Component Id="ScriptsFiles" Guid="6811ac8c-e624-4838-81f5-3eed8f7a2104">
						<RegistryValue Id="removeDapple28" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
					</Component>
				</Directory>
				<Directory Id="Data" Name="Data">
					<Directory Id="Earth" Name="Earth">
						<Directory Id="BmngBathy" Name="BmngBathy">
							<Component Id="BMNGFiles" Guid="63fe5133-eb12-4ef9-ab25-575a66d0a7e4">
								<RegistryValue Id="removeDapple29" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
							</Component>
						</Directory>
					</Directory>
					<Directory Id="kml" Name="kml">
						<Directory Id="icons" Name="icons">
							<Component Id="KMLFiles" Guid="c0decdce-7b6e-4bc9-9a3c-d33d109b2287">
								<RegistryValue Id="removeDapple30" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
							</Component>
						</Directory>
					</Directory>
					<Directory Id="MetaViewer" Name="MetaViewer">
						<Component Id="MetaViewerFiles" Guid="02ac123c-3890-4510-ab1d-9b0480f9a19d">
							<RegistryValue Id="removeDapple31" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
						</Component>
					</Directory>
					<Component Id="DataFiles" Guid="5D3E6163-19F4-4147-A3AA-6EBCC44EF2B0">
						<RegistryValue Id="removeDapple32" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
					</Component>
				</Directory>
				<Directory Id="Plugins" Name="Plugins">
					<Directory Id="BlueMarble" Name="BlueMarble">
						<Component Id="BlueMarbleSettings" Guid="7bc3aa5e-f612-45c3-815c-5600124e610f">
							<RegistryValue Id="removeDapple33" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
						</Component>
					</Directory>
					<Directory Id="Compass" Name="Compass">
						<Component Id="CompassFiles" Guid="deedbf85-ce48-48d4-a06a-5c2ecd6a0ec7">
							<RegistryValue Id="removeDapple34" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
						</Component>
					</Directory>
					<Directory Id="GlobalClouds" Name="GlobalClouds">
						<Component Id="GlobalCloudsFiles" Guid="1cda0d55-1ea7-411d-83d9-108ea0b1ac75">
							<RegistryValue Id="removeDapple35" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
						</Component>
					</Directory>
					<Directory Id="Measure" Name="Measure">
						<Component Id="MeasureFiles" Guid="a1d457ed-58f4-4465-806c-362fd98257ff">
							<RegistryValue Id="removeDapple36" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
						</Component>
					</Directory>
					<Directory Id="MovieRecorder" Name="MovieRecorder">
						<Component Id="MovieRecorderFiles" Guid="cd6db763-9680-4ce0-b52b-f40c339472de">
							<RegistryValue Id="removeDapple37" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
						</Component>
					</Directory>
					<Directory Id="OgrVectorImporter" Name="OgrVectorImporter">
						<Component Id="OgrVectorImporterFiles" Guid="cb1d5e0b-543f-44e5-80f9-0a3f86040ec4">
							<RegistryValue Id="removeDapple38" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
						</Component>
					</Directory>
					<Directory Id="SkyGradient" Name="SkyGradient">
						<Component Id="SkyGradientFiles" Guid="78a30c4f-a9b8-49a9-a4ed-faf8ef99449e">
							<RegistryValue Id="removeDapple39" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
						</Component>
					</Directory>
					<Directory Id="Stars3D" Name="Stars3D">
						<Component Id="Stars3DFiles" Guid="47258812-bd41-4adb-9b2e-a00e3c16d092">
							<RegistryValue Id="removeDapple40" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
						</Component>
					</Directory>
					<Directory Id="VirtualEarth" Name="VirtualEarth">
						<Component Id="VirtualEarthFiles" Guid="db042db8-3d76-4d76-bcf0-653b164f348a">
							<RegistryValue Id="removeDapple41" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
						</Component>
					</Directory>
				</Directory>
				<Component Id="remove_DappleComponent" Guid="{CFF18D39-738E-4ede-BD39-14FD2BE5C27C}" >
					<RegistryValue Id="removeDappleComponent" Action="append" Root="HKLM" Key="Software\Geosoft" KeyPath="yes" Value="" Type="multiString" />
					<RemoveFile Id="remove_AltovaGen.dll" On="install" Name="AltovaGen.dll" Directory="MergeRedirectFolder" />
					<RemoveFile Id="remove_dapxmlclient.dll" On="install" Name="dapxmlclient.dll" Directory="MergeRedirectFolder" />
					<RemoveFile Id="remove_ICSharpCode.SharpZipLib.dll" On="install" Name="ICSharpCode.SharpZipLib.dll" Directory="MergeRedirectFolder" />
					<RemoveFile Id="remove_CreateSecureDAPToken.dll" On="install" Name="CreateSecureDAPToken.dll" Directory="MergeRedirectFolder" />
					<RemoveFile Id="remove_Mapack.dll" On="install" Name="Mapack.dll" Directory="MergeRedirectFolder" />
					<RemoveFile Id="remove_MessageBoxExLib.dll" On="install" Name="MessageBoxExLib.dll" Directory="MergeRedirectFolder" />
					<RemoveFile Id="remove_MontajRemote.dll" On="install" Name="MontajRemote.dll" Directory="MergeRedirectFolder" />
					<RemoveFile Id="remove_PluginSDK_GD.dll" On="install" Name="PluginSDK_GD.dll" Directory="MergeRedirectFolder" />
					<RemoveFile Id="remove_proj.dll" On="install" Name="proj.dll" Directory="MergeRedirectFolder" />
					<RemoveFile Id="remove_Utilities_GD.dll" On="install" Name="Utilities_GD.dll" Directory="MergeRedirectFolder" />
					<RemoveFile Id="remove_WebDownload_GD.dll" On="install" Name="WebDownload_GD.dll" Directory="MergeRedirectFolder" />
					<RemoveFile Id="remove_WorldWindow.dll" On="install" Name="WorldWindow.dll" Directory="MergeRedirectFolder" />
					<RemoveFile Id="remove_WorldWind_GD.dll" On="install" Name="WorldWind_GD.dll" Directory="MergeRedirectFolder" />
					<RemoveFile Id="remove_Dapple.exe" On="install" Name="Dapple.exe" Directory="MergeRedirectFolder" />
					<RemoveFile Id="remove_GEDapple.exe" On="install" Name="GEDapple.exe" Directory="MergeRedirectFolder" />
					<RemoveFile Id="remove_GEDapple.exe.config" On="install" Name="GEDapple.exe.config" Directory="MergeRedirectFolder" />
					<RemoveFile Id="remove_GEDCore.dll" On="install" Name="GEDCore.dll" Directory="MergeRedirectFolder" />
					<RemoveFile Id="remove_GEDWebService.dll" On="install" Name="GEDWebService.dll" Directory="MergeRedirectFolder" />
					<RemoveFile Id="remove_Interop.EARTHLib.dll" On="install" Name="Interop.EARTHLib.dll" Directory="MergeRedirectFolder" />
					<RemoveFile Id="remove_app.ico" On="install" Name="app.ico" Directory="MergeRedirectFolder" />
					<RemoveFile Id="remove_version.txt" On="install" Name="version.txt" Directory="MergeRedirectFolder" />
					<RemoveFile Id="remove_Dapple.exe.config" On="install" Name="Dapple.exe.config" Directory="MergeRedirectFolder" />
					<RemoveFile Id="remove_World_Wind_Dings_1.04.ttf" On="install" Name="World Wind Dings 1.04.ttf" Directory="MergeRedirectFolder" />
					<RemoveFile Id="remove_KMLImporter.xml" On="install" Name="KMLImporter.xml" Directory="Config" />
					<RemoveFile Id="remove_World.xml" On="install" Name="World.xml" Directory="Config" />
					<RemoveFile Id="remove_WorldWind.xml" On="install" Name="WorldWind.xml" Directory="Config" />
					<RemoveFile Id="remove__Placenames.xml" On="install" Name="^Placenames.xml" Directory="Config" />
					<RemoveFile Id="remove_7za.exe" On="install" Name="7za.exe" Directory="System" />
					<RemoveFile Id="remove_geotifcp.exe" On="install" Name="geotifcp.exe" Directory="System" />
					<RemoveFile Id="remove_listgeo.exe" On="install" Name="listgeo.exe" Directory="System" />
					<RemoveFile Id="remove_mailer.exe" On="install" Name="mailer.exe" Directory="System" />
					<RemoveFile Id="remove_SetOpacity.fx" On="install" Name="SetOpacity.fx" Directory="Shaders" />
					<RemoveFile Id="remove_AroundTheEquator.xml" On="install" Name="AroundTheEquator.xml" Directory="Scripts" />
					<RemoveFile Id="remove_DisplayMessageTest01.xml" On="install" Name="DisplayMessageTest01.xml" Directory="Scripts" />
					<RemoveFile Id="remove_world.topo.bathy.200401.jpg" On="install" Name="world.topo.bathy.200401.jpg" Directory="BmngBathy" />
					<RemoveFile Id="remove_world.topo.bathy.200402.jpg" On="install" Name="world.topo.bathy.200402.jpg" Directory="BmngBathy" />
					<RemoveFile Id="remove_world.topo.bathy.200403.jpg" On="install" Name="world.topo.bathy.200403.jpg" Directory="BmngBathy" />
					<RemoveFile Id="remove_world.topo.bathy.200404.jpg" On="install" Name="world.topo.bathy.200404.jpg" Directory="BmngBathy" />
					<RemoveFile Id="remove_world.topo.bathy.200405.jpg" On="install" Name="world.topo.bathy.200405.jpg" Directory="BmngBathy" />
					<RemoveFile Id="remove_world.topo.bathy.200406.jpg" On="install" Name="world.topo.bathy.200406.jpg" Directory="BmngBathy" />
					<RemoveFile Id="remove_world.topo.bathy.200407.jpg" On="install" Name="world.topo.bathy.200407.jpg" Directory="BmngBathy" />
					<RemoveFile Id="remove_world.topo.bathy.200408.jpg" On="install" Name="world.topo.bathy.200408.jpg" Directory="BmngBathy" />
					<RemoveFile Id="remove_world.topo.bathy.200409.jpg" On="install" Name="world.topo.bathy.200409.jpg" Directory="BmngBathy" />
					<RemoveFile Id="remove_world.topo.bathy.200410.jpg" On="install" Name="world.topo.bathy.200410.jpg" Directory="BmngBathy" />
					<RemoveFile Id="remove_world.topo.bathy.200411.jpg" On="install" Name="world.topo.bathy.200411.jpg" Directory="BmngBathy" />
					<RemoveFile Id="remove_world.topo.bathy.200412.jpg" On="install" Name="world.topo.bathy.200412.jpg" Directory="BmngBathy" />
					<RemoveFile Id="remove_palette_2.png" On="install" Name="palette-2.png" Directory="icons" />
					<RemoveFile Id="remove_palette_3.png" On="install" Name="palette-3.png" Directory="icons" />
					<RemoveFile Id="remove_palette_4.png" On="install" Name="palette-4.png" Directory="icons" />
					<RemoveFile Id="remove_palette_5.png" On="install" Name="palette-5.png" Directory="icons" />
					<RemoveFile Id="remove_collapsed.gif" On="install" Name="collapsed.gif" Directory="MetaViewer" />
					<RemoveFile Id="remove_dap_dataset.xsl" On="install" Name="dap_dataset.xsl" Directory="MetaViewer" />
					<RemoveFile Id="remove_expanded.gif" On="install" Name="expanded.gif" Directory="MetaViewer" />
					<RemoveFile Id="remove_geometatree.js" On="install" Name="geometatree.js" Directory="MetaViewer" />
					<RemoveFile Id="remove_geosoft.meta.css" On="install" Name="geosoft.meta.css" Directory="MetaViewer" />
					<RemoveFile Id="remove_wms_cap_meta.xslt" On="install" Name="wms_cap_meta.xslt" Directory="MetaViewer" />
					<RemoveFile Id="remove_wms_layer_meta.xslt" On="install" Name="wms_layer_meta.xslt" Directory="MetaViewer" />
					<RemoveFile Id="remove_default.dapple_serverlist" On="install" Name="default.dapple_serverlist" Directory="Data" />
					<RemoveFile Id="remove_default.dapple" On="install" Name="default.dapple" Directory="Data" />
					<RemoveFile Id="remove_dappleview.xsd" On="install" Name="dappleview.xsd" Directory="Data" />
					<RemoveFile Id="remove_sun.dds" On="install" Name="sun.dds" Directory="Data" />
					<RemoveFile Id="remove_settings.txt" On="install" Name="settings.txt" Directory="BlueMarble" />
					<RemoveFile Id="remove_compass_circle_128.png" On="install" Name="compass circle 128.png" Directory="Compass" />
					<RemoveFile Id="remove_compass_rose_128.png" On="install" Name="compass rose 128.png" Directory="Compass" />
					<RemoveFile Id="remove_Compass.ini" On="install" Name="Compass.ini" Directory="Compass" />
					<RemoveFile Id="remove_Compass_Arrow_North.png" On="install" Name="Compass_Arrow_North.png" Directory="Compass" />
					<RemoveFile Id="remove_Compass_Big.png" On="install" Name="Compass_Big.png" Directory="Compass" />
					<RemoveFile Id="remove_Compass_Big_White.png" On="install" Name="Compass_Big_White.png" Directory="Compass" />
					<RemoveFile Id="remove_Compass_Cross_Minimal.png" On="install" Name="Compass_Cross_Minimal.png" Directory="Compass" />
					<RemoveFile Id="remove_Compass_Rose_Classic.png" On="install" Name="Compass_Rose_Classic.png" Directory="Compass" />
					<RemoveFile Id="remove_Compass_Simple.png" On="install" Name="Compass_Simple.png" Directory="Compass" />
					<RemoveFile Id="remove_Compass_Simple_Soft.png" On="install" Name="Compass_Simple_Soft.png" Directory="Compass" />
					<RemoveFile Id="remove_Compass_Simple_White.png" On="install" Name="Compass_Simple_White.png" Directory="Compass" />
					<RemoveFile Id="remove_Compass_Vector_Arrow.svg" On="install" Name="Compass_Vector_Arrow.svg" Directory="Compass" />
					<RemoveFile Id="remove_Compass_Vector_Arrow_Circle.svg" On="install" Name="Compass_Vector_Arrow_Circle.svg" Directory="Compass" />
					<RemoveFile Id="remove_readme.txt" On="install" Name="readme.txt" Directory="Compass" />
					<RemoveFile Id="remove_tbcompass.png" On="install" Name="tbcompass.png" Directory="Compass" />
					<RemoveFile Id="remove_clouds_20070627_1715.png" On="install" Name="clouds_20070627-1715.png" Directory="GlobalClouds" />
					<RemoveFile Id="remove_clouds_20070628_0944.png" On="install" Name="clouds_20070628-0944.png" Directory="GlobalClouds" />
					<RemoveFile Id="remove_GlobalClouds.cs" On="install" Name="GlobalClouds.cs" Directory="GlobalClouds" />
					<RemoveFile Id="remove_GlobalClouds.ini" On="install" Name="GlobalClouds.ini" Directory="GlobalClouds" />
					<RemoveFile Id="remove_GlobalCloudsServers.txt" On="install" Name="GlobalCloudsServers.txt" Directory="GlobalClouds" />
					<RemoveFile Id="remove_readme.txt_82" On="install" Name="readme.txt" Directory="GlobalClouds" />
					<RemoveFile Id="remove_linemode_multi_button.png" On="install" Name="linemode_multi_button.png" Directory="Measure" />
					<RemoveFile Id="remove_linemode_single_button.png" On="install" Name="linemode_single_button.png" Directory="Measure" />
					<RemoveFile Id="remove_rect.jpg" On="install" Name="rect.jpg" Directory="Measure" />
					<RemoveFile Id="remove_MovieRecorder.sc" On="install" Name="MovieRecorder.sc" Directory="MovieRecorder" />
					<RemoveFile Id="remove_icon.png" On="install" Name="icon.png" Directory="OgrVectorImporter" />
					<RemoveFile Id="remove_Earth.ini" On="install" Name="Earth.ini" Directory="SkyGradient" />
					<RemoveFile Id="remove_Earth_060km.csv" On="install" Name="Earth_060km.csv" Directory="SkyGradient" />
					<RemoveFile Id="remove_Earth_100km.csv" On="install" Name="Earth_100km.csv" Directory="SkyGradient" />
					<RemoveFile Id="remove_Earth_200km.csv" On="install" Name="Earth_200km.csv" Directory="SkyGradient" />
					<RemoveFile Id="remove_Earth_300km.csv" On="install" Name="Earth_300km.csv" Directory="SkyGradient" />
					<RemoveFile Id="remove_Mars.ini" On="install" Name="Mars.ini" Directory="SkyGradient" />
					<RemoveFile Id="remove_Mars_Blue.csv" On="install" Name="Mars_Blue.csv" Directory="SkyGradient" />
					<RemoveFile Id="remove_Mars_Orange.csv" On="install" Name="Mars_Orange.csv" Directory="SkyGradient" />
					<RemoveFile Id="remove_readme.txt_96" On="install" Name="readme.txt" Directory="SkyGradient" />
					<RemoveFile Id="remove_SkyGradient.cs" On="install" Name="SkyGradient.cs" Directory="SkyGradient" />
					<RemoveFile Id="remove_Venus.csv" On="install" Name="Venus.csv" Directory="SkyGradient" />
					<RemoveFile Id="remove_Venus.ini" On="install" Name="Venus.ini" Directory="SkyGradient" />
					<RemoveFile Id="remove_Flare.png" On="install" Name="Flare.png" Directory="Stars3D" />
					<RemoveFile Id="remove_Hipparcos_Stars_Mag6x5044.tsv" On="install" Name="Hipparcos_Stars_Mag6x5044.tsv" Directory="Stars3D" />
					<RemoveFile Id="remove_Hipparcos_Stars_Mag7.7x31399.tsv" On="install" Name="Hipparcos_Stars_Mag7.7x31399.tsv" Directory="Stars3D" />
					<RemoveFile Id="remove_readme.txt_103" On="install" Name="readme.txt" Directory="Stars3D" />
					<RemoveFile Id="remove_Stars3D.ini" On="install" Name="Stars3D.ini" Directory="Stars3D" />
					<RemoveFile Id="remove_VirtualEarthPushPin.png" On="install" Name="VirtualEarthPushPin.png" Directory="VirtualEarth" />
				</Component>
			</Directory>
		</Directory>
	</Module>
</Wix>